include dugaire/pkg/with_kubectl/template/*.j2
include dugaire/pkg/docker/template/*.j2
include dugaire/pkg/with_velero/template/*.j2
include dugaire/pkg/pip3/template/*.j2
include dugaire/pkg/apt/template/*.j2